<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackFrame10X10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,191},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Box_1_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,513},{118,109}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{118,109}}</string>
                <key>sourceSize</key>
                <string>{120,127}</string>
            </dict>
            <key>Box_1_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,523},{118,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,125}}</string>
                <key>sourceSize</key>
                <string>{120,127}</string>
            </dict>
            <key>Building_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,87},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Equip0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,395},{122,126}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{122,126}}</string>
                <key>sourceSize</key>
                <string>{124,140}</string>
            </dict>
            <key>Equip1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,404},{83,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>Equip2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,393},{114,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,132}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>Equip3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,285},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,138}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>Equip4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,647},{109,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{109,115}}</string>
                <key>sourceSize</key>
                <string>{111,119}</string>
            </dict>
            <key>Equip5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,259},{74,64}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Goods_Book.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,154},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Panel_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,102},{47,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{47,46}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>PaperBg_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,209},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>PaperBg_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,343},{148,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,142}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>PaperBg_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,309},{80,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,142}}</string>
                <key>sourceSize</key>
                <string>{80,142}</string>
            </dict>
            <key>PaperBg_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,223},{80,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,142}}</string>
                <key>sourceSize</key>
                <string>{80,142}</string>
            </dict>
            <key>PaperBg_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,258},{148,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,142}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>PaperBg_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,63},{162,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,140}}</string>
                <key>sourceSize</key>
                <string>{162,140}</string>
            </dict>
            <key>PaperBg_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,342},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>PaperBg_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,56},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>PaperBg_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,49},{52,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,13}}</string>
                <key>sourceSize</key>
                <string>{52,13}</string>
            </dict>
            <key>PaperBg_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,107},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>RedFrame10X10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,175},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Res_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,323},{94,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Res_steel.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,163},{90,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{90,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Res_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,63},{94,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{94,66}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Res_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,471},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Tiao_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,4},{208,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,39}}</string>
                <key>sourceSize</key>
                <string>{208,39}</string>
            </dict>
            <key>Tiao_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{484,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,53}}</string>
                <key>sourceSize</key>
                <string>{484,53}</string>
            </dict>
            <key>Tiao_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,56},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,28}</string>
            </dict>
            <key>Tiao_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,285},{182,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,24}}</string>
                <key>sourceSize</key>
                <string>{182,24}</string>
            </dict>
            <key>UI_Kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,491},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>UI_Kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,493},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>UI_Kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,557},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>UI_Kuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,223},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>UI_Kuang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,250},{148,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,149}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>UI_Kuang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,198},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>UI_YaoGaner.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,401},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>UI_YaoGanerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,329},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>UI_btn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,532},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>UI_btn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,531},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>UI_btn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,415},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{110,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>UI_btn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,412},{114,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{114,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>UI_btn3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,170},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>UI_btn3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,90},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>UI_btn3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,143},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>UI_btn3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,63},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>UI_huadongtiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,425},{61,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>UI_huadongtiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,14},{300,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,18}}</string>
                <key>sourceSize</key>
                <string>{300,18}</string>
            </dict>
            <key>UI_huadongtiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,38},{298,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,12}}</string>
                <key>sourceSize</key>
                <string>{298,12}</string>
            </dict>
            <key>UI_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,425},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>UI_jianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,143},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>UI_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,4},{306,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,4}}</string>
                <key>sourceSize</key>
                <string>{306,4}</string>
            </dict>
            <key>UI_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,207},{4,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,129}}</string>
                <key>sourceSize</key>
                <string>{4,129}</string>
            </dict>
            <key>UI_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,38},{278,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,2}}</string>
                <key>sourceSize</key>
                <string>{278,2}</string>
            </dict>
            <key>UI_progressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,315},{166,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,22}}</string>
                <key>sourceSize</key>
                <string>{166,22}</string>
            </dict>
            <key>UI_progressBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,49},{194,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,32}}</string>
                <key>sourceSize</key>
                <string>{194,32}</string>
            </dict>
            <key>UI_time_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,492},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,207},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_1.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb991790949f9922ae821ce71259a97b:1/1$</string>
            <key>textureFileName</key>
            <string>Common_1.pvr</string>
        </dict>
    </dict>
</plist>
