<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackFrame10X10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,159},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Panel_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,63},{47,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{47,46}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>PaperBg_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,143},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>PaperBg_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,128},{148,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,142}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>PaperBg_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,224},{80,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,142}}</string>
                <key>sourceSize</key>
                <string>{80,142}</string>
            </dict>
            <key>PaperBg_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,143},{80,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,142}}</string>
                <key>sourceSize</key>
                <string>{80,142}</string>
            </dict>
            <key>PaperBg_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,219},{148,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,142}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>PaperBg_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,93},{162,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,140}}</string>
                <key>sourceSize</key>
                <string>{162,140}</string>
            </dict>
            <key>PaperBg_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,14},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>PaperBg_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,276},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>PaperBg_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,49},{52,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,13}}</string>
                <key>sourceSize</key>
                <string>{52,13}</string>
            </dict>
            <key>PaperBg_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,107},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>RedFrame10X10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,143},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Tiao_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,4},{208,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,39}}</string>
                <key>sourceSize</key>
                <string>{208,39}</string>
            </dict>
            <key>Tiao_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{484,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,53}}</string>
                <key>sourceSize</key>
                <string>{484,53}</string>
            </dict>
            <key>Tiao_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,14},{256,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,28}}</string>
                <key>sourceSize</key>
                <string>{256,28}</string>
            </dict>
            <key>Tiao_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,63},{182,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,24}}</string>
                <key>sourceSize</key>
                <string>{182,24}</string>
            </dict>
            <key>UI_Kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,276},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>UI_Kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,251},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>UI_Kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,291},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>UI_YaoGaner.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,116},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>UI_YaoGanerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,128},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>UI_btn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,367},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>UI_btn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,359},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>UI_btn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,371},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{110,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>UI_btn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,239},{114,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{114,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>UI_btn3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,63},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>UI_btn3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,153},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>UI_btn3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,73},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>UI_btn3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,48},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>UI_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,4},{306,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,4}}</string>
                <key>sourceSize</key>
                <string>{306,4}</string>
            </dict>
            <key>UI_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,48},{4,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,129}}</string>
                <key>sourceSize</key>
                <string>{4,129}</string>
            </dict>
            <key>UI_time_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,186},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_1.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf41910e6260e80d3c800c56ae77f0ef:1/1$</string>
            <key>textureFileName</key>
            <string>Common_1.pvr</string>
        </dict>
    </dict>
</plist>
